/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Container styling */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: #007bff; /* Bootstrap primary blue */
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0; /* Ensure there's no default padding affecting the centering */
    justify-content: center;
}

nav ul li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #0056b3; /* A darker shade of primary blue */
    outline: none;
}

/* Header Styles */
header {
    background:  url('header-bg.jpg') no-repeat center center/cover;
    height: 80vh; /* Slightly less than full height for a peek of content below */
    color: #fff;
    text-align: left;
    display: flex;
    align-items: left;

    flex-direction: column;

    position: relative;
    z-index: 1;
    padding-left: 20px; /* Add padding to ensure text doesn't touch the edge */
    padding-top: 25%;
}

header h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

header p {
    font-size: 1.3rem;
    line-height: 1.5;

}

/* Section Styles */
section {
    padding: 40px 0;
    background-color: #fff; /* White background for content */
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Bootstrap primary blue for headers */
}



.job h3 {
    color: #333;
    margin-bottom: 5px;
}

.job p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #666;
}

.job ul {
    list-style: inside square;
    color: #333;
}

.job ul li {
    margin-bottom: 5px;
}


.download-cv {
    margin-top: 20px;
}


.btn:hover {
    background: #0056b3;
}

.section {
    display: none;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px; /* Adds space between contact info and the copyright */
}

.footer-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 1rem;
    line-height: 1.5;
}

.footer-content a {
    color: #fff;
    text-decoration: underline; /* Makes it clear that it's a clickable link */
}

.footer-content a:hover {
    color: #ddd; /* Lightens the link on hover for visual feedback */
}

.footer-bottom p {
    font-size: 0.8rem;
    margin-top: 10px;
}

.profile-img {
  width: 200px; /* adjust as needed */
  height: auto; /* maintain aspect ratio */
  border-radius: 50%; /* circular image */
  object-fit: cover; /* ensures the image covers the area without stretching */
  border: 3px solid #333; /* optional border */
  display: block;
  margin-left: auto;
  margin-right: auto; /* centers the image */
}


.about-container {
  display: flex;
  flex-direction: row; /* Explicitly set the direction to row */
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}


.profile-img-container {
  width: 30%; /* Adjust as necessary */
  flex: 0 0 25%;
}

.profile-img {
  max-width: 100%; /* This will make the image responsive */
  height: auto; /* This will maintain the aspect ratio of the image */
  border-radius: 50%; /* Makes the image round */
}

.about-text {
  width: 70%; /* Adjust as necessary */
  padding: 20px;
  text-align: justify;
}


header {
    background: url('bg_header.jpeg') no-repeat center center/cover;
    position: relative;
    z-index: 1;
    text-align: left; /* Align text to the left */
    padding-left: 20px; /* Add padding to ensure text doesn't touch the edge */
    padding-top: 25%;

}

header::before {
    content: '';
    position: absolute;
    top: 0; /* Position at the top of the header */
    right: 0; /* Position at the right of the header */
    bottom: 0; /* Position at the bottom of the header */
    left: 0; /* Position at the left of the header */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: -1;
}


/* Base styles above */

/* Responsive styles for screens that are 768px wide or less */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack flex items vertically on small screens */
        align-items: center; /* Center align the flex items */
    }

    .profile-img-container {
        width: 50%; /* Adjust the width of the image container on small screens */
        margin-bottom: 20px; /* Add space below the image */
    }

    .about-text {
        width: 100%; /* Allow text to take full width on small screens */
        text-align: center; /* Center-align the text */
        text-align: justify;
    }

}


/* Header Animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

header h1,
header p {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    /* Adjust the timing above as needed: duration | easing | delay | iteration count */
}



.job {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #007bff; /* A blue accent on the left border */
    transform: translateY(20px);

    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for shadow and transform */

    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Add shadow for depth */

}

.job:hover {
    transform: translateY(-5px); /* Slight raise effect on hover */

    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Add a subtle shadow effect */
    border-left: 5px solid #4CAF50; /* Keep the blue accent or adjust if needed */

}

/* Add responsive design for mobile views */
@media (max-width: 768px) {
    .job {
        margin-bottom: 15px;
        padding: 15px;
    }
}

.btn {
    /* Existing styles */
    background: #4CAF50; /* Change button color */
    transition: background-color 0.3s ease-in-out;
    animation: pulse 2s infinite;
}

.btn:hover {
    background-color: #367C2B; /* Darken the button on hover */
}

.download-cv {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    text-align: center; /* Center-align the content */
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.download-cv a.btn {
    background-color: #007bff; /* Your primary color */
    color: white;
    padding: 10px 25px;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Soft shadow with primary color */
    transition: all 0.3s ease-in-out;
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Allows setting padding and margins */
    margin-top: 10px; /* Adds space above the button */
}

.download-cv a.btn:hover, .download-cv a.btn:focus {
    background-color: #0056b3; /* Darker shade on hover/focus */
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px); /* Slightly raises the button */
}

.about-text p {
    text-align: justify;
    text-justify: inter-word;
    text-align: justify;
}

.about-text h1 {
    text-align: center;
}

.experience {

    text-align: justify;
}

.badge-base {
    padding: 10px;
}